<div class=about>
  <h3>Spiralizer</h3>

  <P>A twitter bot that collects a recent image from Flickr, <br>spiralizes it, and posts to <a href='https://twitter.com/spiraltron'>@spiraltron</a>.</p>
</div>

<div id=imgcredit>
  Background image: <a href='https://www.flickr.com/photos/31846825@N04/25023468184'>https://www.flickr.com/photos/31846825@N04/25023468184</a>
</div>
