<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<canvas id="spiral" height="{{h}}" width="{{w}}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/javascripts/spiral.js"></script>
